#results {
  width: 600px;
  height: 600px;
  border: 1px black;
  box-shadow: 5px 5px 5px black;
}

#weatherService:after {
  content: '';
  display: block;
  clear: left;
}

#weatherService input {
  display: inline-block;
  float: left;
}

#weatherService label {
  display: inline-block;
  float: left;
  clear: left;
  width: 120px;
  line-height: 150%;
}

